:root{
    margin:0px;
    padding:0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
    gap: 2rem;
}
.title h2{
    text-align: center;
    font-size:5rem;
    margin: 0rem;
    padding: 0rem;
}
.title p{
    text-align: center;
    font-size:3rem;
    margin: 0rem;
    padding: 0rem;
}
.container{
    width: 90vw;
    padding: .40rem;

    background: linear-gradient(to top,#999999,#FFFFFF);
    color:#060606;
    border: .15rem solid #060606;
    border-radius: .4rem;

    box-shadow: 3px 3px 5px #00000089;

    display:flex;
    direction:ltr;
    flex-direction: column;
    justify-content: space-around;
}
.i1{
    padding: .75rem;
    margin: .5rem;
    display:inline-block;
    border: .10rem solid #060606;
    border-radius: .4rem;
    background: linear-gradient(to bottom,#FFFFFF,#DADADA);
    text-align: center;
    flex: 1;
    font-size:2rem;
}
div button{
    font-size: 2.5rem;
}
.container_2{
    background: linear-gradient(to top,#888888,#DADADA);
}
.i2{
    padding: .75rem;
    margin: .5rem;
    display:inline-block;
    border: .10rem solid #060606;
    border-radius: .4rem;
    background: linear-gradient(to bottom,#DADADA,#ABABAB);
    text-align: center;
    flex: 1;
    font-size:2rem;
}
.container_3{
    background: linear-gradient(to top,#000000,#323232);
    color:#DADADA;
}
.i3{
    padding: .75rem;
    margin: .5rem;
    display:inline-block;
    border: .25rem solid #FFFFFF;
    border-radius: .4rem;
    background: linear-gradient(to bottom,#101010,#404040);
    text-align: center;
    flex: 1;
    font-size:2rem;
    color:#DADADA;
}